<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuxi.server.mapper.ProductSpecMapper">
    
    <!-- 根据条件查询商品规格列表 -->
    <select id="selectByCondition" parameterType="com.zhuxi.pojo.entity.ProductSpec" resultType="com.zhuxi.pojo.entity.ProductSpec">
        SELECT * FROM product_spec
        <where>
        <![CDATA[

            <if test="productId != null">
                AND product_id = #{productId}
            </if>
            <if test="skuSn != null and skuSn != ''">
                AND sku_sn LIKE CONCAT('%', #{skuSn}, '%')
            </if>
            <if test="skuCode != null and skuCode != ''">
                AND sku_code LIKE CONCAT('%', #{skuCode}, '%')
            </if>
            <if test="minPrice != null">
                AND price >= #{minPrice}
            </if>
            <if test="maxPrice != null">
                AND price <= #{maxPrice}
            </if>
            <if test="minStock != null">
                AND stock >= #{minStock}
            </if>
            <if test="maxStock != null">
                AND stock <= #{maxStock}
            </if>
        ]]>
        </where>
        ORDER BY updated_at DESC
    </select>
    
</mapper>
