<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuxi.server.mapper.ProductMapper">
    
    <!-- 根据条件查询商品列表 -->
    <select id="selectByCondition" parameterType="com.zhuxi.pojo.entity.Product" resultType="com.zhuxi.pojo.entity.Product">
        SELECT * FROM product
        <where>
        <![CDATA[
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="description != null and description != ''">
                AND description LIKE CONCAT('%', #{description}, '%')
            </if>
            <if test="sellerId != null">
                AND seller_id = #{sellerId}
            </if>
            <if test="shopId != null">
                AND shop_id = #{shopId}
            </if>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="condition != null">
                AND condition = #{condition}
            </if>
            <if test="location != null and location != ''">
                AND location LIKE CONCAT('%', #{location}, '%')
            </if>
            <if test="minPrice != null">
                AND price >= #{minPrice}
            </if>
            <if test="maxPrice != null">
                AND price <= #{maxPrice}
            </if>
        ]]>
        </where>
        ORDER BY 
        <choose>
            <when test="sortBy != null and sortBy == 'price'">
                price
                <if test="sortOrder != null and sortOrder == 'desc'">DESC</if>
                <if test="sortOrder == null or sortOrder == 'asc'">ASC</if>
            </when>
            <when test="sortBy != null and sortBy == 'viewCount'">
                view_count DESC
            </when>
            <otherwise>
                created_at DESC
            </otherwise>
        </choose>
    </select>
    
</mapper>
