<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuxi.server.mapper.UserOrderMapper">
    
    <!-- 根据条件查询订单列表 -->
    <select id="selectByCondition" parameterType="com.zhuxi.pojo.entity.UserOrder" resultType="com.zhuxi.pojo.entity.UserOrder">
        SELECT * FROM user_order
        <where>
            <if test="orderSn != null and orderSn != ''">
                AND orderSn LIKE CONCAT('%', #{orderSn}, '%')
            </if>
            <if test="buyerId != null">
                AND buyer_id = #{buyerId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="receiveAddressId != null">
                AND receive_address_id = #{receiveAddressId}
            </if>
            <if test="minAmount != null">
                AND total_amount >= #{minAmount}
            </if>
            <if test="maxAmount != null">
                AND total_amount <= #{maxAmount}
            </if>
        </where>
        ORDER BY created_at DESC
    </select>
    
</mapper>
