<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuxi.server.mapper.UserCommentMapper">
    
    <!-- 根据条件查询用户评价列表 -->
    <select id="selectByCondition" parameterType="com.zhuxi.pojo.entity.UserComment" resultType="com.zhuxi.pojo.entity.UserComment">
        SELECT * FROM user_comment
        <where>
            <if test="orderId != null">
                AND order_id = #{orderId}
            </if>
            <if test="reviewerId != null">
                AND reviewer_id = #{reviewerId}
            </if>
            <if test="revieweeId != null">
                AND reviewee_id = #{revieweeId}
            </if>
            <if test="rating != null">
                AND rating = #{rating}
            </if>
            <if test="comment != null and comment != ''">
                AND comment LIKE CONCAT('%', #{comment}, '%')
            </if>
        </where>
        ORDER BY created_at DESC
    </select>
    
</mapper>
