<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuxi.fileModule.infrastructure.mapper.FileMapper">
    <update id="update">
        UPDATE product_static
        <set>
            <if test="productId != null">
                product_id = #{productId},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId},
            </if>
            <if test="imageUrl != null">
                image_url = #{imageUrl},
            </if>
            <if test="imageType != null">
                image_type = #{imageType},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>